// Main style fyle
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Raleway');

html, body {
    // flex
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;

    // structure
    height: 100%;
    width: 100%;
    // background
    background-color: rgb(173, 157, 142);
}

// .back {
//     background-size: cover;
//     display: block;
//     filter: blur(10px);
//     -webkit-filter: blur(5px);
//     height: 100%;
//     left: 0;
//     position: fixed;
//     right: 0;
//     z-index: 1;
// }

.horiz {
    // flex
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-basis: auto;
    align-items: center; 
    justify-content: space-evenly;
    // structure
    width: 100%;
    z-index: 2;
}

.time {
    font-family: 'Montserrat', serif;
    font-size: 64px;
    margin: 0;
}

.centerImage {
    // structure
    height: 475px;
    width: auto;
    // extra
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right {
    // flex
    display: flex;
    display: -webkit-flex;
    align-self: flex-end;
    // align-content: space-between;
    justify-content: space-between;
    flex-direction: column;
    // text
    text-align: center;
    font-family: 'Montserrat', serif;
    font-size: 18px;
    // structure
    height: 415px;
    margin-bottom: 30px;
}

.temperature {
    font-size: 48px;
}

.wi {
    font-size: 100px;
}
