// Main style fyle

body {
    // background
    background-color: #EFE5DC;
}

.total {
    // flex
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imgContainer {
    // flex
    display: flex;
    justify-content: center;
    align-self: center;
}

.centerImage {
    // structure
    height: 600px;
    width: auto;
    // extra
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
